# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
emotion-recognition-client/node_modules
emotion-recognition-client/build

emotion-recognition-client/.DS_Store
emotion-recognition-client/.env.local
emotion-recognition-client/.env.development.local
emotion-recognition-client/.env.test.local
emotion-recognition-client/.env.production.local
emotion-recognition-client/.env

emotion-recognition-client/npm-debug.log*
emotion-recognition-client/yarn-debug.log*
emotion-recognition-client/yarn-error.log*
